
/* generics */

body {
    margin: 1%;
    font-family: 'Fira Code', monospace;
    font-size: larger;
    background-color: #1c1c1c;
    text-align: center;
}
p {
    margin-left: 35%;
    margin-right: 35%;
    padding: auto;
    color: rgb(216, 235, 206);
}

h1 {
    color: #a9f5e4;
}

h2 {
    color: #a9f5e4;
}

a {
    color: #a9f5e4;
    text-decoration: none;
    font-weight: bold;
}

li {
    margin: 1%;
    color: rgb(216, 235, 206);
}

ul {
    margin: 1%;
    color: inherit;
}

a:hover {
    color: #5dbda8;
}

hr.post {
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 2%;
    border: 0.5px dashed #bff8ec;
  }
/* post-content */

#post-content p {
    margin: 1%;
    color: rgb(216, 235, 206);
}

/* main menu */

.main-menu {
    display: inline-block;
}

/* footer */

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}