{{ partial "head.html" . }}
{{ partial "header.html" . }}


{{ range first 10 .Pages }}
    <article>
      <div>
        <h2><a href="{{ .RelPermalink }}">${{ .Title }} _</a></h2>
        <div class="author">
        Written by: {{ .Params.author }}
        {{ .PublishDate.Format "January 2, 2006" }}
      </div>
        <div id="post-content">
          <p>{{ .Summary }}</p>
        </div>
      </div>
      {{ if .Truncated }}
      <div>
         <a href="{{ .RelPermalink }}">Read More…</a>
      </div>
      {{ end }}
    </article>
{{ end }}

{{ partial "footer.html" . }}